<p>
  list of courses works of number {{title}}!
</p>

<app-courses-menu></app-courses-menu>
<hr/>

<button class="btn btn-danger" (click)="deleteAll()">
    <i class="glyphicon glyphicon-trash"></i>
    remove all
</button>

<ul>
  <li *ngFor="let item of items">
    {{item.name}}
  </li>
</ul>

<hr/>
<app-courses-binding [name]="lastName()"></app-courses-binding>
<pre> 
  here the value external {{localValue}}
</pre>
<hr/>
<app-courses-output [value]="localValue" (changeValue)="onChangeValue($event)"></app-courses-output>

<app-courses-circle *ngIf="localValue > 14"></app-courses-circle>

