<p>
  list of courses works of number {{title}}!
</p>

<app-courses-menu></app-courses-menu>
<hr/>

<button class="btn btn-danger" (click)="deleteAll()">
    <i class="glyphicon glyphicon-trash"></i>
    remove all
</button>

<ul>
  <li *ngFor="let item of items">
    {{item.name}}
  </li>
</ul>

<hr/>
<app-courses-binding [name]="lastName()"></app-courses-binding>
<pre> 
  here the value external {{localValue}}
</pre>
<hr/>
<app-courses-output [value]="localValue" (changeValue)="onChangeValue($event)"></app-courses-output>
<hr/>
<app-courses-circle *ngIf="localValue > 14"></app-courses-circle>
<hr/>
<app-courses-content>
    <app-courses-circle *ngIf="localValue > 14"></app-courses-circle>
    unmet peer dependency
</app-courses-content>

<hr/>
<app-courses-content >

</app-courses-content>
<hr/>
<div appCourses>
  <div>
      <span class="title">Anderson element with [appCourses]</span>    
      <span class="body">but, it your life</span>        
  </div>
</div>
<hr/>
<div highight>
  <div>
      <span class="title">secund directive [highight]</span>    
      <span class="body">but, it your life</span>        
  </div>
</div>
<hr/>
<p highight>
  Testing, this text will red on mouse over
</p>






