<p>
  list of courses works of number {{title}}!
</p>

<app-courses-menu></app-courses-menu>
<hr/>

<button class="btn btn-danger" (click)="deleteAll()">
    <i class="glyphicon glyphicon-trash"></i>
    remove all
</button>

<app-courses-add></app-courses-add>  

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">name</th>
      <th scope="col" style="width: 1%;"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of items">
      <td scope="row">#{{item.id}}</td>
      <td>{{item.name}}</td>
      <td style="width: 1%;"><button class="btn btn-danger" (click)="deleteItem(item)" >X</button> </td>
    </tr>
  </tbody>
</table>

<hr/>
<app-courses-binding [name]="lastName()"></app-courses-binding>
<pre> 
  here the value external {{localValue}}
</pre>
<hr/>
<app-courses-output [value]="localValue" (changeValue)="onChangeValue($event)"></app-courses-output>
<hr/>
<app-courses-circle *ngIf="localValue > 14"></app-courses-circle>
<hr/>
<app-courses-content>
    <app-courses-circle *ngIf="localValue > 14"></app-courses-circle>
    unmet peer dependency
</app-courses-content>

<hr/>
<app-courses-content >

</app-courses-content>
<hr/>
<div appCourses>
  <div>
      <span class="title">Anderson element with [appCourses]</span>    
      <span class="body">but, it your life</span>        
  </div>
</div>
<hr/>
<p highLight>
  secund directive [highLight]
  but, it your life
</p>
<hr/>
<p highLightBatman>
  Testing, this text will black/white on mouse over [highLightBatman]
</p>
<hr/>
<app-courses-else></app-courses-else>





