<!--The content below is only a placeholder and can be replaced.-->
<div>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">@aasf86</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a routerLinkActive="active" routerLink="#/home" class="nav-item nav-link">Home</a>
          <a routerLinkActive="active" routerLink="#/crud" class="nav-item nav-link">Crud</a>          
          <a routerLinkActive="active" routerLink="#/report" class="nav-item nav-link">Report</a>                    
          <a routerLinkActive="active" routerLink="#/report/list" class="nav-item nav-link">Report list</a>
          <a routerLinkActive="active" routerLink="#/login" class="nav-item nav-link">Login</a>          
        </div>
      </div>
      <button class="btn btn-outline-light" (click)="login()" tippy="Sign in with Google" *ngIf="!user">
        <img style="height: 18px;" src="https://www.gstatic.com/firebasejs/ui/2.0.0/images/auth/google.svg">
        Login
      </button>      
      <span class="navbar-text" *ngIf="user">
        <a [href]="linkGPlus" target="-"><strong [innerText]="user?.displayName"></strong></a>
      </span>      
      <span class="navbar-text" *ngIf="user">
        <span [innerText]="'('+user?.email+')'"></span>
      </span>
      &nbsp;
      <ul id="#js-popoverContent" class="nav navbar-nav" *ngIf="user">
        <li class="md aax">          
            <img class="img-fluid" style="border-radius: 50%;border-style: none; width: 35px; height: 35px;" [src]="user?.photoURL">
        </li>
        &nbsp;
        <li class="md aax">
            <button class="btn btn-outline-danger" (click)="logout()">
              <i class="fa fa-sign-out"></i>
              Exit
            </button>
          </li>        
      </ul>      
    </nav>
    <div class="container">        
      <!--app-courses></app-courses-->  
      <!--app-crud></app-crud-->      
      <router-outlet></router-outlet>
    </div>
</div>


