<h4 class="card-title">
  Crud angular+firebase
</h4>
<form>
  <div class="row">
    <div class="col">
      <input type="text" class="form-control" placeholder="Name" [(ngModel)]="name" name="name">
    </div>
    <div class="col">
      <input type="email" class="form-control" placeholder="email" [(ngModel)]="email" name="email">
    </div>
    <div class="col">
        <input type="text" class="form-control" placeholder="phone" [(ngModel)]="phone" name="phone">
      </div>    
    <div class="col">
      <button class="btn btn-dark btn-block" (click)="addUser()">
        <i class="fa fa-plus" aria-hidden="true"></i>
        Add
      </button>
    </div>    
  </div>
</form>
<hr/>
<app-crud-list></app-crud-list>
